<!DOCTYPE html>
<html>
  <head>
    <title>TrekhubBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'register' %>
  </head>

  <body>
    <%= react_component 'TrekhubNavBar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
